{% extends "base.html" %}
{% block title %} Detail {% endblock %}
{% block content %}

<main>
  <h1>My blog post</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra nec nulla vitae mollis.</p>
  <p>etc.</p>
</main>

<aside>
  <h3>About the author</h3>
  <p>Frontend Designer from Bordeaux, currently working for Improbable in sunny London.</p>
</aside>
<hr>
{{khodi}}
<hr>
<hr>
object

{{object}}<br>
{{object.description}}


<br><br>
here is the new one ----> 

{{posts}}

{% for post in posts %}
	{{post.title}}
	<a href="{post.get_absolute_url}}">{{post.title}}</a>
{% endfor %}

<section id="khodi-posts">
	<ul>
		{% for post in posts %}
		{{post.timestamp}}
			<li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
			<li>{{post.name}}</li>
		{% endfor %}
	</ul>
</section>

{% endblock %}
