{% extends "base.html" %}
{% block title %} index - {% endblock %}
{% block content %}

<main>
  <h1>My blog post</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra nec nulla vitae mollis.</p>
  <p>etc.</p>
</main>

<aside>
  <h3>About the author</h3>
  <p>Frontend Designer from Bordeaux, currently working for Improbable in sunny London.</p>
</aside>


{% for khodi in khodis %}
	<h3> <a href="{{ khodi.get_absolute_url }}">{{khodi.title}}</a></h3><br>
	{{khodi.description}}<br>
	{{khodi.timestamp}}<hr><hr>

{% endfor %}

{% endblock %}